NEXT_PUBLIC_SUPABASE_URL=https://vmpkiwfvnlzraabtjkig.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtcGtpd2Z2bmx6cmFhYnRqa2lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MjMwNzUsImV4cCI6MjA5MjA5OTA3NX0.Yh3reeJYrV1cG6jFIhFHm6apQqclol64D79cq9euy5E
